<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="main/layout">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div class="row">
			<div class="m-3">
				<h1>My Cart</h1>
			</div>
		</div>
		<div class="container">
			<div class="row" th:if="${!#lists.isEmpty(cartProducts)}">
				<div class="col-lg-4 animated bounceInDown delay-1s col-md-4 col-12"
					th:each="prod : ${cartProducts}">
					<!-- small box -->
					<div class="card card-widget widget-user-2">
						<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="widget-user-header bg-gradient-warning"
							style="max-height: 8em;">
							<div class="widget-user-image">
								<img class="img-fluid img-thumbnail elevation-2"
									style="min-height: 6em;"
									th:src="@{${'/products/images/' + prod.img}}" alt="User Avatar">
							</div>
							<!-- /.widget-user-image -->
							<h3 class="widget-user-username text-wrap" th:text="${prod.name}">Nadia
								Carmichael</h3>
							<h5 class="widget-user-desc">
								<span class="badge badge-dark" th:text="${prod.count}"></span>
							</h5>
						</div>
						<div class="card-footer p-0">
							<ul class="nav flex-column">
								<li class="nav-item d-flex">
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;Price : &nbsp;</h5>
									<h5 th:text="${prod.price}">New Orders</h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div
					class="col-md-12 animated jackInTheBox delay-1s m-3 pull-right d-flex">
					<h4>Total Amount :&nbsp;</h4>
					<h4 th:text="${cartAmount}"></h4>
				</div>
			</div>
			<div class="col-12 text-center animated jackInTheBox delay-1s"
				th:if="${#lists.isEmpty(cartProducts)}">
				<h1>Your Cart is Empty</h1>
			</div>
		</div>
	</div>
</body>
</html>