<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="main/layout">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div class="row">
			<div class="m-3">
				<h1 th:text="#{welcome.header}">Welcome to ANVL</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-6" th:each="prod : ${products}">
				<!-- small box -->
				<div class="small-box bg-primary">
					<div class="inner">
						<h3 th:text="${prod.id}">150</h3>
						<p th:text="${#strings.toUpperCase(prod.type)}">New Orders</p>
					</div>
					<div class="icon">
						<i class="fas fa-shopping-bag"></i>
					</div>
					<a th:href="@{${'/v1/products/type/' + prod.type + '/page/0'}}"
						class="small-box-footer">Shop now <i
						class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>