<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>401</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<a href="" target="_blank"> <header class="top-header"> </header>
			<!--dust particel-->
			<div>
				<div class="starsec"></div>
				<div class="starthird"></div>
				<div class="starfourth"></div>
				<div class="starfifth"></div>
			</div> <!--Dust particle end--->


			<div class="lamp__wrap">
				<div class="lamp">
					<div class="cable"></div>
					<div class="cover"></div>
					<div class="in-cover">
						<div class="bulb"></div>
					</div>
					<div class="light"></div>
				</div>
			</div> <!-- END Lamp -->
			<section class="error">
				<!-- Content -->
				<div class="error__content">
					<div class="error__message message">
						<h1 class="message__title">Unauthorized</h1>
						<p class="message__text">We're sorry, you don't have the
							privilege for the page you were looking. Please contact ADMIN for
							more info.</p>
					</div>
					<div class="error__nav e-nav">
						<a th:href="@{/home}" target="_blank" class="e-nav__link"></a>
					</div>
				</div>
			</section>
		</a>
	</div>
</body>
</html>